<nb-card>
  <nb-card-header>
    <nb-icon icon="activity-outline"></nb-icon> Welcome to starter!
  </nb-card-header>

  <nb-card-body>
    <div style="width: 100%;">
      <h2> Welcom to {{ hamada }} </h2>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="success" hero >
      Done Starter!
    </button>
  </nb-card-footer>
</nb-card>