<nb-card>
  <div class="icon-container">
    <div class="icon status-{{ type }}">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="details">
    <div style="font-weight: 700;" class="title h7">{{ title }}</div>
    <div class="status paragraph-2">{{ label }}</div>
  </div>
</nb-card>

