<div class="card" style="width: 100%;">
    <div class="card-body">
      <h3 class="card-title"> <i class="fas fa-user-secret"></i> Data privacy</h3>
    </div>
    <ul class="list-group list-group-flush" style="font-size: 20px;">
        <li  class="list-group-item">All users of this application are required to go thru <a href="https://schneider-electric.box.com/s/oqoy02gr6tpydwdijaayu781xw48ddek">Privacy Guideline document</a></li>
        <li  class="list-group-item">As part of Data privacy, to change the personal data in this application employee can contact Mohamed Gamal, Email: <a href="mailto:mohamed.gamal-saeed@se.com">mohamed.gamal-saeed@se.com</a></li>
    </ul>
  </div>