<nb-card>
  <nb-card-header>
    <nb-icon icon="globe-2-outline"></nb-icon> Map Country
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="table-container">
          <table class="table offer-tables" >
            <thead>
              <tr>
                <th> User Id  </th>
                <th> Title </th>
                <th> Body </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody>
              <tr style="height: 50px !important" *ngFor="let post of listOfPosts">
                <td> {{ post.userId }} </td>
                <td> {{ post.title }} </td>
                <td> {{ post.body }} </td>
                <td> 
                  <nb-icon (click)="editCountry(post.userId)" style="color: green; cursor: pointer;" nbTooltip="Edit this country" icon="edit-2-outline"></nb-icon> 
                  <nb-icon (click)="deleteCountry(post.userId)"  style="color: red;cursor: pointer;"  nbTooltip="Delete this country" icon="trash-outline"></nb-icon>   </td>
              </tr>
            </tbody>



            <div *ngIf="listOfPosts.length == 0" class="no-data">
              <i class="fa fa-exclamation-triangle no-data-label" aria-hidden="true"></i> <br>
              <label class="no-data-text"> No Posts to show! </label>
            </div>

          </table>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>

  </nb-card-footer>
</nb-card>